<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/css/smoothproducts.css">
</head>

<body><nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a href="#" class="navbar-brand logo">Mekelle University Community School</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="attendance/<%=teacher.id%>">Attendance</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/api/teacher/mySchedule/<%= teacher.id%>">Schedule</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="grade/<%= teacher.id%>">Grade</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" id="accountId" href="/api/teacher/account/">Account</a></li>

            </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="/login">Log out</a></span>
        </div>
    </div>
</nav>
<main class="page landing-page"><section class="clean-block clean-hero" style="background-image:url('/img/custom/element5-digital-352043-unsplash.jpg');color:rgba(9, 162, 255, 0.85);">
    <div class="text">
        <h2>Hello <%= teacher.fname %></h2>
    </div>
</section>
<footer class="page-footer dark">

    <div class="footer-copyright">
        <p>© 2018 Copyright Text</p>
    </div>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/js/smoothproducts.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>