<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.parentportal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EventDisplayActivity"></activity>
        <activity android:name=".TeacherInfoActivity" />
        <activity android:name=".ProgramActivity" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BioActivity" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".AttendanceActivity" />
        <activity android:name=".DisciplineActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".KidsActivity" />
        <activity android:name=".account.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".account.SignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>