<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Second Community School Project</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/css/smoothproducts.css">
</head>

<body>
<div class="mb-lg-5">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a href="#" class="navbar-brand">Mekelle University Community School</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li role="presentation" class="nav-item"><a id="homeId" href="/api/director/home" class="nav-link active">Home</a></li>
                    <li role="presentation" class="nav-item"><a id="directorScheduleId" href="/api/listSchedules" class="nav-link">Schedules</a></li>
                    <li role="presentation" class="nav-item"><a id="eventsId" href="/api/listEvents" class="nav-link">Events</a></li>
                    <li role="presentation" class="nav-item"><a id="studentsId" href="/api/manageStudents" class="nav-link">Students</a></li>
                    <li role="presentation" class="nav-item"><a id="registrarsId" href="/registrar/register" class="nav-link">Registrar</a></li>
                    <li role="presentation" class="nav-item"><a id="commonId" href="/common" class="nav-link">Others</a></li>
                    <li role="presentation" class="nav-item"><a id="teachersId" href="/api/director/manageTeachers" class="nav-link">Teachers</a></li>
                    <li role="presentation" class="nav-item"><a id="parentsId" href="api/director/manageParents" class="nav-link">Parents</a></li>
                </ul>
                <span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="/login">Log out</a></span>

            </div>
        </div>
    </nav>
</div>
<section class="container">

<form method="post" class="align-content-center align-content-lg-center" style="margin-top: 150px">
    <div class="container" >
        <div class="row">
            <div class="col">
                <label>Day:
                    <select name="day" class="form-control" id="dayInputId" required>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                    </select>
                </label><br><br>
            </div>
            <div class="col">
                <label>Year:
                    <input type="number" name="year" class="form-control" id="yearInputId" min="2010" required>
                </label>
            </div>
            <div class="col">
                <label>Grade:
                    <input type="number" name="grade" class="form-control" id="gradeInputId" min="1" max="12" required>
                </label>
            </div>
            <div class="col">
                <label>Semester:
                    <input type="number" name="semester" class="form-control" id="semesterInputId" max="2" min="1" required>
                </label><br>
            </div>
            <div class="col">

                <label>Section:
                    <input type="text" name="section" class="form-control" id="sectionInputId" required>
                </label><br>
            </div>

        </div>
    </div>
    <div class="row text-center">
        <div class="col mb-4">
            <button type="button" class="btn-secondary btn" id="searchScheduleId">Search Schedule</button>
        </div>
    </div>
</form>
</section>

<section class="container" id="container"></section>
<div class="card-deck" id="card-deck"></div>

<section class="container" style="margin-bottom: 5px">
    <div class="row text-center">
        <div class="col">
            <button type="button" class="btn-secondary btn" id="addNewScheduleId">Add New Schedule</button>
        </div>

        <div class="col">
            <button type="button" class="btn-secondary btn" id="editScheduleId">Edit The Schedule</button>
        </div>

        <div class="col">
            <button type="button" class="btn-secondary btn" id="deleteScheduleId">Delete The Schedule</button>
        </div>
    </div>
</section>

<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/js/smoothproducts.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/listSchedule.js"></script>
<script src="/js/directorLinking.js"></script>

</body>

</html>