<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/css/smoothproducts.css">
</head>

<body><nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a href="#" class="navbar-brand">Mekelle University Community School</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"><a id="homeId" href="/api/director/home" class="nav-link active">Home</a></li>
                <li role="presentation" class="nav-item"><a id="directorScheduleId" href="/api/listSchedules" class="nav-link">Schedules</a></li>
                <li role="presentation" class="nav-item"><a id="eventsId" href="/api/listEvents" class="nav-link">Events</a></li>
                <li role="presentation" class="nav-item"><a id="studentsId" href="/api/manageStudents" class="nav-link">Students</a></li>
                <li role="presentation" class="nav-item"><a id="registrarsId" href="/registrar/register" class="nav-link">Registrar</a></li>
                <li role="presentation" class="nav-item"><a id="commonId" href="/common" class="nav-link">Others</a></li>
                <li role="presentation" class="nav-item"><a id="teachersId" href="/api/director/manageTeachers" class="nav-link">Teachers</a></li>
                <li role="presentation" class="nav-item"><a id="parentsId" href="api/director/manageParents" class="nav-link">Parents</a></li>
            </ul>
            <span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="/login">Log out</a></span>

        </div>
    </div>
</nav>
<main class="page landing-page"><section class="clean-block clean-hero" style="background-image:url('/element5-digital-352043-unsplash.jpg');color:rgba(9, 162, 255, 0.85);">
    <div class="text">
        <h2>This is tlhe schedule part</h2>
        <section class="container">
            <div class="row">
                <div class="col mb-4">
                    <button type="submit" id="addSchedules" class="btn-secondary btn">Add Schedules</button>
                </div>

                <div class="col mb-4">
                    <button type="button" id="listSchedules" class="btn btn-secondary">List Schedules</button>
                </div>
            </div>

            <div class="row">
                <div class="col mb-4">
                    <button type="button" id="editSchedules" class="btn-secondary btn">Edit Schedules</button>
                </div>

                <div class="col mb-4">
                    <button type="button" id="deleteSchedules" class="btn btn-secondary">Delete Schedules</button>
                </div>
            </div>
        </section>
</section>
</main>
<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Legal</h5>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2018 Copyright Text</p>
    </div>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/js/smoothproducts.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/manageSchedules.js"></script>
<script src="/js/directorLinking.js"></script>

</body>

</html>