<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Second Community School Project</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/css/smoothproducts.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">Mekelle University Community School</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item item" role="presentation"><a class="nav-link" id="homeId" href="/api/home">HOME</a></li>
                <!-- <li class="nav-item item" role="presentation"><a class="nav-link" href="features.ejs">FEATURES</a></li> -->
                <!-- <li class="nav-item item" role="presentation"><a class="nav-link" href="pricing.ejs">PRICING</a></li> -->
                <li class="nav-item item" role="presentation"><a class="nav-link" id="aboutUsId" href="/api/aboutUs">ABOUT Us</a></li>
                <li class="nav-item item" role="presentation"><a class="nav-link" id="contactUsId" href="/api/contactUs">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Forgot Password</h2>
        </div>
        <form method="post" action="/home">
            <h5 class="title text-center mb-4">Check your email for the password</h5>
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </form>
    </div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/js/smoothproducts.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/homeLinking.js"></script>
</body>

</html>